<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blogs</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200&display=swap');

        body {
            font-family: 'Bricolage Grotesque', sans-serif;
        }
        #postdiv{
            padding: 10px 15vw;
        }
    </style>
</head>

<body style="font-family: 'Bricolage Grotesque',monospace;">
    <%- include('navbar')%>
    <div id="postddiv">
        <h1 style="text-align: center;"><%= post.title %></h1>
        a post by <strong><%=post.author %></strong>
        <p style="font-size:15px;"><%= post.content%></p>
        <h6>posted on <%=post.timestamps%></h6>
    </div>

</body>

</html>