<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>community</title>
    <style>
#main{
    display:grid;
    grid-template-columns: 3fr 3fr;
    gap:20px;
}
img{
    height: 18vh;
}
.community-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: 36px 28px 76px -29px rgba(79,119,161,1);
-moz-box-shadow: 36px 28px 76px -29px rgba(79,119,161,1);
box-shadow: 36px 28px 76px -29px rgba(79,119,161,1);}
    </style>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200&display=swap');

    body {
      font-family: 'Bricolage Grotesque', sans-serif;
    }
  </style>
</head>

<body style="font-family: 'Bricolage Grotesque',monospace;">
    <%- include('navbar') %>
    <div id="main">
        <% for (let item of comObj) { %>
            <div class="community-card">
                <img src="<%=item.logo%>" alt="">
                <h1><%= item.name %></h1>
                <p><%= item.description %></p> 
                <h2>Posts:</h2>
                <ul>
                    <% for (let postId of item.posts) { %>
                        <% for (let post of postObj) { %>
                            <% if (post._id.toString() === postId.toString()) { %>
                                <li><%= post.title %></li>
                                <a href="/posts/<%=postId%>"><button class="btn btn primary">read more..</button></a>
                            <% } %>
                        <% } %>
                    <% } %>
                </ul>
            </div>
        <% } %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>